body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(assets/background.jpg);
    background-size: cover; /* Modifié de 'auto' à 'cover' */
    background-position: center center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-attachment: fixed; /* Fixe l'image pendant le défilement */
    min-height: 100vh; /* Prend toute la hauteur de l'écran */
}


.sidebar {
    z-index: 1000;
    width: 250px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.show {
    transform: translateX(0);
}

.menu-item {
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-item.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.content {
    margin-top: 50px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.content.shifted {
    margin-left: 250px;
}

